@use "../util/" as *;
.content {
  margin: 102px 92px;
  .section--one {
    display: flex;
    align-items: flex-end;

    .image_wrapper {
      min-width: 400px;
      min-height: 200px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .card {
      padding: 110px 40px;
      max-height: 350px;
      max-width: 500px;
      background-color: white;
      margin-left: -170px;
      //   container-type: inline-size;

      h1 {
        max-width: 300px;
        // font-size: 32cqi;
      }

      p {
        color: $gray;
        // font-size: 16cqi;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin: 102px 32px;
    .section--one {
      flex-direction: column;

      .card {
        max-height: unset;
        max-width: unset;
        text-align: center;
        padding: 32px 16px;
        margin-left: unset;

        h1 {
          max-width: unset;
        }
      }
    }
  }
}

// @media screen and (min-width: 1440px) {
//   .content {
//     .section--one {
//       .card {
//         max-width: 850px;
//       }
//     }
//   }
// }
