@use "../util/" as *;
.footer {
  min-height: 200px;
  background-color: black;
  padding: 0px 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .log_wrapper {
    ul {
      display: flex;
      list-style-type: none;
      padding: unset;

      li:not(:first-child) {
        color: white;
        margin: 0px 16px;
      }

      li:hover::before {
        content: " ";
        width: 30px;
        height: 3px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: 700;
      }
    }
  }

  .list_wrapper {
    .icons {
      display: flex;
      gap: 16px;
      margin-bottom: 16px;

      svg:hover::before {
        content: " ";
        height: 45px;
        width: 45px;
        border-bottom: 2px solid red;
      }
    }
    p {
      color: $gray;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 32px;

    .log_wrapper {
      ul {
        flex-direction: column;
        text-align: center;
        li {
          margin: unset !important;
        }
      }
    }

    .list_wrapper {
      flex-direction: column;
      text-align: center;
      .icons {
        margin-top: 16px;
        justify-content: center;
      }
    }
  }
}

// @media screen and (min-width: 1440px) {
//   .footer {
//     min-height: 300px;
//   }
// }
