@use '../util/' as *;
.footer{
    min-height: 200px;
    background-color: black;
    padding: 0px 92px;
    display: flex;
    justify-content: center;    flex-direction: column;

    .log_wrapper {
        display: flex;
        justify-content: space-between;

        .icons {
            display: flex;
            gap: 16px;
        }
    }

    .list_wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        ul {
            display: flex;
            list-style-type: none;
            padding: unset;

            li:not(:first-child) {
                color: white;
                margin: 0px 16px;
            }
            a {
                text-decoration: none;
                color: white;
                font-weight: 700;
            }
        }
        p {
            color: $gray;
            font-weight: 700;
        }
    }
}