@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html{
    height: 100vh;
    font-size: 62.5%;
}

body {
  height: 100%;
  line-height: 1.6;
  font-family: 'Josefin Sans', 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}